* {
    box-sizing: border-box;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    border-radius: 15px;
}

body {
  font-family: 'Poiret One', cursive;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sacramento', cursive;

}

div,
ul,
li,
p {
  font-family: 'Josefin Slab', serif;
}

.clear-fix {
  overflow: auto;
}

.all {
  text-align: center;
}

.container {
  max-width: 100%;
  max-height: 100%;
  background-position: 50% 50%;
  background: url(../images/greenblue7.png) repeat-y center center fixed

}

.education-entry,
.work-entry,
.project-entry {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  color: #ffd11a;
  line-height: 38px;
  padding: 5px;
}

h3 {
  font-style: italic;
  font-size: 28px;
  color: #ccd248;
  line-height: 30px;
}

h4 {
  font-weight: bold;
  font-size: 24px;
  color: #86b300;
  line-height: 26px;
}

/*h2,
h3,
h4,
h5 {
  padding: 5px 2.5%;

}*/


.date-text {
  font-style: italic;
  font-size: 18px;
  color: #ccff33;
  line-height: 18px;
}

.location-text {
  font-style: italic;
  font-size: 18px;
  color: #ffd11a;
  line-height: 18px;
}

p {
  font-size: 20px;
  color: #fff;
  line-height: 21px;
}

a {
  font-size: 22px;
  color: #a1e3f7;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #a1e3f7;
  line-height: 22px;
}

#skills-h3 {
  color: #f5ae23;
  margin-left: 200px;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

li.flex-item:first-child {
  margin-left: 100px;
}

.gray {
  background-color: rgba( 5, 113, 91, 0.3);
  border-radius: 15px;
  padding-bottom: 10px;
  margin: auto;
  clear: both;
}

.blue{
  background-color: rgba( 0, 153, 255, 0.2);
  border-radius: 15px;
  padding-bottom: 10px;
  margin: auto;
  clear: both;
}

.dark-gray {
  background-color: #05715b;
}

#header {
    background: url(../images/dots3.png) repeat-y center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}

.overlay {
  background-color: rgba(0, 89, 82, 0.5);
  border-radius: 15px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  padding: 20px;
  list-style-position: inside;
  list-style-type: circle;
  clear: both;
}

li.jobs-list {
  padding-top: 0;
  color:aliceblue;
  font-size: 20px;
  list-style-position: inside;
}

.bullets {
  list-style-type: circle;
  font-size: 20px;
  color: #fff;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
  border-radius: 50%;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#skills {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
